---
import Layout from "../layouts/Layout.astro";
---

<Layout title="sobremi">
    <body>
        <main>
            <nav id="quien">
                <h1>Sobre mi:</h1>
                <h2>
                    <img src="/argensimia.png" alt="no carga" width="50px" />
                    Quien soy: Hola, mi nombre es Alvaro Monsalves, tengo 17 años
                    y vivo en General Roca, Rio Negro, aunque naci en bahia blanca,
                    donde solo vivi unos meses.
                </h2>
                <h3>
                    <img src="/cetnmro1.png" alt="no carga" width="100px" />
                    Que hago actualmente: Hoy estoy haciendo esta pagina como parte
                    del taller de Redes, en el CET N°1, escuela en la que voy a 5to
                    año, quedandome solo uno. A parte de estudiar, tambien voy al
                    gimnasio y hacia Handball, deporte el cual tuve que dejar por
                    problemas en mi rodilla, por lo que actualmente estoy en recuperacion.
                </h3>
                <h4>
                    Mis gustos: lo que mas me gusta es salir con mis amigos a
                    hacer lo que sea, tanto jugar al futbol como estar en una
                    casa jugando, tambien soy de jugar videojuegos, pero por la
                    escuela lo deje un poco de lado, juego bastantes juegos,
                    pero los principales pueden ser Age of Empires 2: Definitive
                    Edition, Project Zomboid o Minecraft, entre muchos.
                    <img
                        src="/ageofempireslogo.png"
                        alt="no carga"
                        width="100px"
                    />
                </h4>
            </nav>
        </main>
    </body>

    <style>
        body {
            background-color: gray;
        }
        h1 {
            font-size: large;
            text-align: center;
            font-style: italic;
            margin-bottom: 30px;
        }
        h2 {
            justify-content: start;
            display: flex;
            font-size: medium;
            text-align: left;
            font-style: normal;
            margin-bottom: 30px;
        }
        h3 {
            justify-content: start;
            display: flex;
            font-size: medium;
            text-align: left;
            font-style: normal;
            margin-bottom: 30px;
        }
        h4 {
            justify-content: start;
            display: flex;
            font-size: medium;
            text-align: left;
            font-style: normal;
            margin-bottom: 30px;
        }
    </style>
</Layout>
